name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  flutter-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install deps
        run: flutter pub get

      - name: Format check
        run: flutter format --set-exit-if-changed .

      - name: Analyze
        run: flutter analyze

      - name: Tests
        run: flutter test

      - name: Build web (dev flavor)
        run: flutter build web -t lib/main_dev.dart
